/.eslintrc.js
/.vscode
/Advanced Functions exercise
/Arrays and Nested Arrays
/Arrays exercise
/Classes Exercise
/DOM exercise
/DOM manipulations exercise
/Exam Prep
/Exam Prep 1
/Exam Prep 2
/hackerRank
/jiberish.js
/node_modules
/Objects.exercise
/package-lock.json
/package.json
/Prototypes
/Syntax, functions and Statements
/Unit testing